<layout-header></layout-header>
<hr>

<!-- 
<page-homepage-index></page-homepage-index>
<page-contact-index></page-contact-index>
<page-about-index></page-about-index>
<page-book-index></page-book-index>
<page-book-create></page-book-create>
<page-book-read></page-book-read>
<page-book-update></page-book-update>
<page-book-delete></page-book-delete>
-->

<router-outlet></router-outlet>

<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ULQhvIGG27Q?si=NYitIisb_aDUw9sf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<layout-footer></layout-footer>